# -*- coding: utf-8 -*-
"""Sample model module."""

from ming import Field, schema
from ming.declarative import Document

from nessiewiki.model import DBSession


class SampleModel(Document):

    class __mongometa__:
        session = DBSession
        name = 'sample_model'
    
    
    _id = Field(schema.ObjectId)
    data = Field(str)
